

.departure {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.867); /* Slightly transparent background */
  /* border-radius: 12px; */
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 5em; /* Adjust according to your navbar height */

}

.return-link-container {
  display: flex;
  width: 98%;
  justify-content: flex-end;
}

.departure h2 {
  margin: 0 0 0.5em 0;;
  padding: 25px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.depature-link-button {
  /* display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #63b5e4;
  color: #131112;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px; */

  padding: 0.75rem 1.5rem;
  margin-top: 20px;
    font-size: 1rem;
    background-color: #63b5e4;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.depature-link-button:hover {
  background-color: #27d1ba;
}

