.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.search-wrapper {
  margin-top: -65rem; /* Adjust this value to move the Search component closer to the navbar */
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .search-wrapper {
    margin-top: -1rem; /* Adjust for mobile view */
  }
}
